.nodeStruct {
  display: flex;
  flex-direction: column;
  font-weight: 900;
  font-size: x-small;
  border-radius: 10px;
  background-color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  gap: 0.75rem;
}
